/* netdo.ru minified 03-05-2016 16:16:10 */

html,body {
	padding:0;
	margin:0
}
body {
	font-family:arial,tahoma,sans-serif;
	font-size:13px;
	color:#000;
	width:100%;
	background-color:#fff;
	cursor:default
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display:block

}
@-moz-keyframes animate-stripes {
	0% {
		background-position:0 0;
	}
	100% {
		background-position:40px 0;
	}
}
.price {
	display:inline-block;
	white-space:nowrap;
}
.price > .sum {
	display:inline;
	font-weight:700;
}
.price > .cur {
	display:inline;
}
.cur.RUB {
	font-family:'Rub',arial,sans-serif;
	text-transform:lowercase;
}
.price-new {
	color:#F74444;
}
.price-old {
	font-size:90%;
	text-decoration:line-through;
	color:#777;
	font-weight:400;
}
.price-old > .sum,.price-old > .cur {
	font-weight:400;
}
@font-face {
	font-family:'fontello';
	src:url('/static/css/icons/fontello.eot');
	src:url('/static/css/icons/fontello.eot#iefix') format('embedded-opentype'),url('/static/css/icons/fontello.woff') format('woff'),url('/static/css/icons/fontello.ttf') format('truetype'),url('/static/css/icons/fontello.svg#fontello') format('svg');
	font-weight:normal;
	font-style:normal;
}
[class^="icon-"],[class*=" icon-"],[class^="icon-"]:hover,[class*=" icon-"]:hover {
	text-decoration:none;
}
[class^="icon-"]:before,[class*=" icon-"]:before {
	font-family:"fontello" !important;
	font-style:normal !important;
	font-weight:normal !important;
	speak:none;
	display:inline-block;
	text-decoration:inherit;
	width:1em;
	text-align:center;
	font-variant:normal;
	text-transform:none;
	line-height:1em;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.icon-glass:before {
	content:'\e800';
}
.icon-music:before {
	content:'\e801';
}
.icon-search:before {
	content:'\e802';
}
.icon-mail:before {
	content:'\e803';
}
.icon-mail-alt:before {
	content:'\e804';
}
.icon-mail-squared:before {
	content:'\e805';
}
.icon-heart:before {
	content:'\e806';

.scd-box_theme_success .scd-box_head {
	color:#fff;
	border-color:#79BB58;
	background-color:#79BB58;
}
.scd-box_theme_alert {
	border-color:#FF5252;
}
.scd-box_theme_alert .scd-box_head {
	color:#fff;
	border-color:#FF5252;
	background-color:#FF5252;
}
.scd-box_theme_info {
	border-color:#65A2E3;
}
.scd-box_theme_info .scd-box_head {
	color:#fff;
	border-color:#65A2E3;
	background-color:#65A2E3;
}
.scd-box_theme_warning {
	border-color:#DDBB4F;
}
.scd-box_theme_warning .scd-box_head {
	color:#fff;
	border-color:#DDBB4F;
	background-color:#DDBB4F;
}
.scd-grid {
	margin-bottom:0;
}
.scd-grid .grid-inner {
	margin:0 10px;
	margin-bottom:0;
}
hr.scd-hr {
	border-color:#ccc;
	border-style:solid;
	border-width:1px 0 0 0;
	height:1px;
	margin-top:0;
	margin-bottom:0;
}
hr.scd-hr_dashed {
	border-style:dashed;
}
hr.scd-hr_dotted {
	border-style:dotted;
}
hr.scd-hr_beauty {
	border-color:transparent;
	background:-webkit-linear-gradient(left,transparent,rgba(0,0,0,.25),transparent);
	background:-moz-linear-gradient(left,transparent,rgba(0,0,0,.25),transparent);
	background:-ms-linear-gradient(left,transparent,rgba(0,0,0,.25),transparent);
	background:linear-gradient(left,transparent,rgba(0,0,0,.25),transparent);
}
hr.scd-hr_2 {
	border-width:1px 0 1px 0;
	height:5px;
}
.scd-highlight_blue,.scd-highlight_blue a {
	background:#e9f7fe;
	color:#5091b2;
}
.scd-highlight_green,.scd-highlight_green a {
	background:#d3e8da;
	color:#5f9025;
}
.scd-highlight_grey,.scd-highlight_grey a {
	background:#f2f2f2;
	color:#444;
}
.scd-highlight_yellow,.scd-highlight_yellow a {
	background:#faeb48;
	color:#695d43;
}
.scd-highlight_red,.scd-highlight_red a {
	background:#ffe9e9;
	color:#de5959;
}
.scd-slider {
	overflow:hidden;
}
.scd-slider .slick-arrow {
	font-size:12px;
	width:24px;
	height:24px;
	line-height:24px;
	margin-top:-12px;
}
.scd-slider .slick-dots {
	display:block;
	text-align:center;
	position:relative;
	top:auto;
	left:auto;
	right:auto;
	bottom:auto;
	margin:0;
	padding:0;
	margin-top:5px;
}
.scd-basket {
	max-width:300px;
}
.scd-basket .media > .pull-left {
	margin-right:0;
}
.scd-basket .media > .pull-left .btn {
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}
.scd-basket .media > .media-body .btn {
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}
.ui-tooltip {
	padding:5px 8px 6px;
	text-align:center;
	font-size:12px;
	color:#fff;
	background:#333;
	position:absolute;
	z-index:9999;
	max-width:300px;
	border-radius:2px;
}
.ui-resizable {

	left:0
}
.ui-resizable-s {
	cursor:s-resize;
	height:7px;
	width:100%;
	bottom:-3.5px;
	left:0
}
.ui-resizable-e {
	cursor:e-resize;
	width:7px;
	height:100%;
	right:-3.5px;
	top:0
}
.ui-resizable-w {
	cursor:w-resize;
	width:7px;
	height:100%;
	left:-3.5px;
	top:0
}
.ui-resizable-se {
	cursor:se-resize;
	width:10px;
	height:10px;
	right:0;
	bottom:0
}
.ui-resizable-sw {
	cursor:sw-resize;
	width:10px;
	height:10px;
	left:0;
	bottom:0
}
.ui-resizable-nw {
	cursor:nw-resize;
	width:10px;
	height:10px;
	left:0;
	top:0
}
.ui-resizable-ne {
	cursor:ne-resize;
	width:10px;
	height:10px;
	right:0;
	top:0
}
.ui-draggable {
	cursor:move;
}
.ui-helper-hidden {
	display:none
}
.ui-helper-hidden-accessible {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px
}
.ui-helper-reset {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	line-height:1.3;
	text-decoration:none;
	font-size:100%;
	list-style:none
}
.ui-helper-clearfix:after {
	content:" ";
	visibility:hidden;
	display:block;
	height:0;
	zoom:1;
	clear:both;
}
.ui-helper-zfix {
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	opacity:0;
	filter:Alpha(Opacity=0)
}
.ui-state-disabled {
	cursor:default!important
}
.ui-widget-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.ui-menu {
	list-style:none;
	padding:0;
	margin:0;
	display:block;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding:0;
	width:100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:7px;
	zoom:1;
	color:#000;
}
.ui-menu .ui-menu-item a:hover,.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active {
	background-color:#3875d7;
	color:#fff;
}
.ui-slider {
	position:relative;
	text-align:left;
}
.ui-slider .ui-slider-handle {
	position:absolute;
	z-index:2;
	width:6px;
	height:14px;
	cursor:default;
	border:1px solid #bbb;
	border-radius:2px;
	background:#d5d5d5;
}
.ui-slider .ui-slider-handle:hover,.ui-slider .ui-slider-handle.ui-state-active {
	border-color:#1559A2;
	background:#3E8EE5;
}
.ui-slider .ui-slider-range {
	position:absolute;
	z-index:1;
	font-size:11px;
	display:block;
	border:0;
	background:#eee;
	box-shadow:0 0 4px rgba(0,0,0,.2) inset;
}
.ui-slider-horizontal {
	height:6px;
	background:#fff;
	border:1px solid #c5c5c5;
	border-radius:5px;
}
.ui-slider-horizontal .ui-slider-handle {
	top:-5px;
	margin-left:-3px;
}
.ui-slider-horizontal .ui-slider-range {
	top:0;
	height:100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left:0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right:0;
}
.ui-slider-vertical {
	width:.8em;
	height:100px;
}
.ui-slider-vertical .ui-slider-handle {
	left:-4px;
	margin-left:0;
	margin-bottom:-6px;
}
.ui-slider-vertical .ui-slider-range {
	left:0;
	width:100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom:0;
}
.ui-slider-vertical .ui-slider-range-max {
	top:0;
}
.ui-datepicker {
	z-index:101 !important;
	width:220px;
	padding:5px;
	display:none;
	background-color:#fff;
	border:1px solid #aaa;
	box-shadow:0 1px 4px rgba(0,0,0,.45);
	border-radius:2px;
}
.ui-datepicker .ui-datepicker-header {
	position:relative;
	padding:.2em 0;
	font-size:11px;
	background:#f5f5f5;
}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {
	position:absolute;
	top:5px;
}
.ui-datepicker .ui-datepicker-prev {
	left:5px
}
.ui-datepicker .ui-datepicker-next {
	right:5px
}
.ui-datepicker .ui-datepicker-title {
	margin:0 35px;
	line-height:1.8em;
	text-align:center
}
.ui-datepicker .ui-datepicker-title select {
	font-size:1em;
	vertical-align:top;
	padding:1px;
	margin:1px 0
}
.ui-datepicker select.ui-datepicker-month-year {
	width:100%
}
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {
	width:49%
}
.ui-datepicker table {
	width:100%;
	font-size:11px;
	border-collapse:collapse;
	margin:0 0 .4em
}
.ui-datepicker th {
	padding:.65em 0;
	text-align:center;
	font-weight:bold;
	border:0
}
.ui-datepicker td {
	border:1px solid #eee;
	padding:0
}
.ui-datepicker td span,.ui-datepicker td a {
	display:block;
	padding:.65em .35em;
	text-align:center;
	text-decoration:none
}
.ui-datepicker td:hover a {
	background:#f5f5f5;
}
.ui-datepicker .ui-datepicker-today a {
	background:#ddd;
}
.ui-datepicker .ui-datepicker-current-day a {
	background:#3875d7 !important;
	color:#fff;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image:none;
	margin:.7em 0 0 0;
	padding:0 .2em;
	border-left:0;
	border-right:0;
	border-bottom:0
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float:right;
	margin:.5em .2em .4em;
	cursor:pointer;
	padding:5px;
	width:80px;
	overflow:visible;
	font-size:11px;
	border-radius:2px;
	background:#eee;
	border:1px solid #ddd;
}
.ui-datepicker .ui-datepicker-buttonpane button:hover {
	border-color:#bbb;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float:left
}
.ui-datepicker.ui-datepicker-multi {
	width:auto
}
.ui-datepicker-multi .ui-datepicker-group {
	float:left
}
.ui-datepicker-multi .ui-datepicker-group table {
	width:95%;
	margin:0 auto .4em
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width:50%
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width:33.3%
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width:25%
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
	border-left-width:0
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width:0
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear:left
}
.ui-datepicker-row-break {
	clear:both;
	width:100%;
	font-size:0em
}
.ui-datepicker-rtl {
	direction:rtl
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right:2px;
	left:auto
}
.ui-datepicker-rtl .ui-datepicker-next {
	left:2px;
	right:auto
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right:1px;
	left:auto
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left:1px;
	right:auto
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear:right
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float:left
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
	float:right
}
.ui-datepicker-rtl .ui-datepicker-group {
	float:right
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
	border-right-width:0;
	border-left-width:1px
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width:0;
	border-left-width:1px
}
.ui-datepicker-cover {
	position:absolute;
	z-index:-1;
	filter:mask();
	top:-4px;
	left:-4px;
	width:200px;
	height:200px
}
.ui-timepicker-div {
	font-size:11px;
	margin-top:10px;
}
.ui-timepicker-div .ui-widget-header {
	margin-bottom:8px;
}
.ui-timepicker-div dl {
	text-align:left;
}
.ui-timepicker-div dl dt {
	float:left;
	clear:left;
	padding:0 0 0 5px;
	font-weight:700;
}
.ui-timepicker-div dl dd {
	margin:0 10px 10px 40%;
}
.ui-timepicker-div td {
	font-size:90%;
}
.ui-tpicker-grid-label {
	background:none;
	border:none;
	margin:0;
	padding:0;
}
.ui-timepicker-rtl {
	direction:rtl;
}
.ui-timepicker-rtl dl {
	text-align:right;
	padding:0 5px 0 0;
}
.ui-timepicker-rtl dl dt {
	float:right;
	clear:right;
}
.ui-timepicker-rtl dl dd {
	margin:0 45% 10px 10px;
}
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp {
	border:0;
	outline:none;
	vertical-align:top;
	margin:0;
	padding:0;
}
.fancybox-wrap {
	position:absolute;
	top:0;
	left:0;
	z-index:8020;
}
.fancybox-skin {
	position:relative;
	background:#fff;
	color:#444;
	text-shadow:none;
}
.fancybox-opened {
	z-index:8030;
}
.fancybox-overlay-fixed .fancybox-type-html {
	padding-bottom:30px;
}
.fancybox-outer,.fancybox-inner {
	position:relative;
}
.fancybox-inner {
	overflow:hidden;
}
.fancybox-error {
	color:#444;
	font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	white-space:nowrap;
	margin:0;
	padding:15px;
}
.fancybox-image,.fancybox-iframe {
	display:block;
	width:100%;
	height:100%;
}
.fancybox-image {
	max-width:100%;
	max-height:100%;
}
#fancybox-loading {
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-25px;
	margin-left:-25px;
	cursor:pointer;
	z-index:8060;
}
#fancybox-loading div {
	width:50px;
	height:50px;
	background:url("/static/js/fancybox/loading.gif") no-repeat 50% 50% rgba(0,0,0,.4);
	background-size:90% 90%;
	border-radius:30px;
}
.fancybox-nav {
	position:absolute;
	top:0;
	width:40%;
	height:100%;
	cursor:pointer;
	text-decoration:none;
	background:transparent;
	z-index:8040;
}
.fancybox-prev {
	left:0;
}
.fancybox-next {
	right:0;
}
.fancybox-nav span {
	cursor:pointer;
	visibility:hidden;
	opacity:0;
	font-size:18px;
	text-align:center;
	color:#fff;
	width:18px;
	height:32px;
	line-height:32px;
	margin:0;
	margin-top:-15px;
	position:absolute;
	top:50%;
	background:rgba(0,0,0,.35);
	text-decoration:none;
	z-index:8040;
}
.fancybox-nav:hover span {
	visibility:visible;
	opacity:1;
}
.fancybox-nav span:before,.fancybox-fullsize:before,.fancybox-close:before {
	font-family:'fontello';
	font-style:normal;
	font-weight:normal;
}
.fancybox-prev span:before {
	content:'\e8a4';
}
.fancybox-next span:before {
	content:'\e8a5';
}
.fancybox-prev span {
	left:0;
	padding-left:5px;
	padding-right:7px;
	border-radius:0 3px 3px 0;
}
.fancybox-next span {
	right:0;
	padding-left:7px;
	padding-right:5px;
	border-radius:3px 0 0 3px;
}
.fancybox-fullsize {
	cursor:pointer;
	visibility:hidden;
	opacity:0;
	position:absolute;
	top:5px;
	left:5px;
	width:30px;
	height:30px;
	line-height:30px;
	background:rgba(0,0,0,.35);
	font-size:15px;
	text-align:center;
	z-index:8041;
	border-radius:3px;
}
.fancybox-nav span,.fancybox-fullsize {
	-webkit-transition:all .15s linear;
	-moz-transition:all .15s linear;
	-o-transition:all .15s linear;
	-ms-transition:all .15s linear;
	transition:all .15s linear;
}
.fancybox-fullsize,.fancybox-fullsize:hover {
	color:#fff;
	text-decoration:none;
}
.fancybox-fullsize:hover {
	background:rgba(0,0,0,.6);
}
.fancybox-fullsize:before {
	content:'\e894';
}
.fancybox-outer:hover .fancybox-fullsize {
	visibility:visible;
	opacity:1;
}
.fancybox-close {
	position:absolute;
	top:-5px;
	right:-30px;
	width:1em;
	height:1em;
	line-height:1;
	text-align:center;
	text-decoration:none;
	color:#b5b5b5;
	font-size:25px;
	cursor:pointer;
	z-index:8040;
	text-decoration:none;
}
.fancybox-close:hover {
	color:#fff;
	text-decoration:none;
}
.fancybox-close:before {
	content:'\e81d';
}
.fancybox-tmp {
	position:absolute;
	top:-99999px;
	left:-99999px;
	visibility:hidden;
	max-width:99999px;
	max-height:99999px;
	overflow:visible!important;
}
.fancybox-lock {
	overflow:hidden!important;
	width:auto;
}
.fancybox-lock body {
	overflow:hidden!important;
}
.fancybox-lock-test {
	overflow-y:hidden!important;
}
.fancybox-overlay {
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	display:none;
	z-index:8010;
	background:rgba(0,0,0,.6);
}
.fancybox-overlay-fixed {
	position:fixed;
	bottom:0;
	right:0;
}
.fancybox-lock .fancybox-overlay {
	overflow:auto;
	overflow-y:scroll;
}
.fancybox-title {
	visibility:hidden;
	font-size:13px;
	line-height:1.5em;
	position:relative;
	text-shadow:none;
	z-index:8050;
}
.fancybox-title-float-wrap {
	position:absolute;
	bottom:0;
	right:50%;
	margin-bottom:-35px;
	z-index:8050;
	text-align:center;
}
.fancybox-title-float-wrap .child {
	display:inline-block;
	margin-right:-100%;
	background:rgba(0,0,0,0.8);
	border-radius:15px;
	text-shadow:0 1px 2px #222;
	color:#FFF;
	font-weight:700;
	line-height:24px;
	white-space:nowrap;
	padding:2px 20px;
}
.fancybox-title-outside-wrap {
	position:relative;
	margin-top:10px;
	color:#fff;
}
.fancybox-title-inside-wrap {
	padding:8px;
	text-align:center;
	font-weight:700;
}
.fancybox-title-over-wrap {
	position:absolute;
	bottom:0;
	left:0;
	color:#fff;
	background:rgba(0,0,0,.8);
	padding:10px;
}
.fancybox-nav:hover span,.fancybox-opened .fancybox-title {
	visibility:visible;
}
.fancybox-inner .block:last-child {
	margin-bottom:0;
}
.ndbox-lock,.ndbox-lock-test {
	overflow:hidden;
}
.ndbox-over {
	display:none;
	z-index:8010;
	overflow:auto;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,.6);
}
.ndbox-margin .ndbox-over {
	overflow-y:scroll;
}
.ndbox-wrap {
	position:relative;
	margin:0 auto;
	width:500px;
	max-width:100%;
	z-index:8011;
	-webkit-transition:all .15s linear;
	-moz-transition:all .15s linear;
	-o-transition:all .15s linear;
	transition:all .15s linear;
}
.ndbox-inner {
	position:relative;
	overflow:hidden;
	color:#353535;
	background:#fff;
	padding:15px;
}
.ndbox-close {
	position:absolute;
	top:-19px;
	right:0;
	display:block;
	width:25px;
	height:19px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAPUlEQVQYV41QSQoAQAjS/z/a6FCUMExdWpS0KEkAQJKZZzRWhRPXPEEnet8SEyjJsrB8vKTvm76eTtdd/hT0Hzv6Xm/vjwAAAABJRU5ErkJggg==) no-repeat center center rgba(251,251,251,.2);
	cursor:pointer;
	border-radius:2px 2px 0 0;
}
.ndbox-close:hover {
	background-color:rgba(251,251,251,.35)
}
.slick-slider {
	position:relative;
	display:block;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-touch-callout:none;
	-khtml-user-select:none;
	-ms-touch-action:pan-y;
	touch-action:pan-y;
	-webkit-tap-highlight-color:transparent
}
.slick-list {
	position:relative;
	display:block;
	overflow:hidden;
	margin:0;
	padding:0
}
.slick-list:focus {
	outline:none
}
.slick-list.dragging {
	cursor:pointer;
	cursor:hand
}
.slick-slider .slick-track,.slick-slider .slick-list {
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
.slick-track {
	position:relative;
	top:0;
	left:0;
	display:block
}
.slick-track:before,.slick-track:after {
	display:table;
	content:''
}
.slick-track:after {
	clear:both
}
.slick-loading .slick-track {
	visibility:hidden
}
.slick-slide {
	display:none;
	float:left;
	height:100%;
	min-height:1px
}
[dir='rtl'] .slick-slide {
	float:right
}
.slick-slide img {
	display:block
}
.slick-slide.slick-loading img {
	display:none
}
.slick-slide.dragging img {
	pointer-events:none
}
.slick-initialized .slick-slide {
	display:block
}
.slick-loading .slick-slide {
	visibility:hidden
}
.slick-vertical .slick-slide {
	display:block;
	height:auto;
	border:1px solid transparent
}
.slick-arrow.slick-hidden {
	display:none
}
/* THEME */.slick-arrow {
	z-index:1;
	font-size:14px;
	position:absolute;
	top:50%;
	display:block;
	width:34px;
	height:34px;
	line-height:34px;
	margin-top:-17px;
	padding:0;
	cursor:pointer;
	color:#fff;
	border:none;
	outline:none;
	background-color:rgba(0,0,0,.3);
	opacity:0;
	border-radius:50%;
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
}
.slick-slider:hover .slick-arrow {
	opacity:.9;
}
.slick-arrow.slick-disabled {
	opacity:.25 !important;
}
.slick-prev {
	left:10px;
	text-indent:-1px;
}
[dir='rtl'] .slick-prev {
	right:10px;
	left:auto;
	text-indent:-1px;
}
.slick-next {
	right:10px;
	text-indent:1px;
}
[dir='rtl'] .slick-next {
	right:auto;
	left:10px;
	text-indent:1px;
}
.slick-dots {
	position:absolute;
	z-index:1;
	bottom:5px;
	right:5px;
	display:block;
	padding:0;
	margin:0;
	list-style:none;
	text-align:center
}
.slick-dots li {
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin:3px;
	padding:0
}
.slick-dots li button {
	background-color:#aaa;
	background-color:rgba(0,0,0,.5);
	background-clip:content-box;
	text-indent:-9999px;
	display:block;
	width:14px;
	height:14px;
	padding:0;
	outline:0;
	border-radius:50%;
	overflow:hidden;
	border:3px solid rgba(251,251,251,.5);
}
.slick-dots li button:hover,.slick-dots li button:focus,.slick-dots li.slick-active button {
	background-color:#fff;
	background-color:rgba(255,255,255,.8);
	border-color:rgba(0,0,0,.5);
	border-width:2px;
	outline:none
}
.countdown {
	display:block;
	font-weight:400;
	font-style:normal;
	text-align:center;
	text-decoration:none;
}
.countdown:hover {
	text-decoration:none;
}
.countdown .cd {
	display:inline-block;
	vertical-align:top;
	margin:0 5px;
}
.countdown .cd-num {
	display:block;
	color:#000;
	font-family:arial,sans-serif;
	font-size:60px;
	width:110px;
	height:110px;
	line-height:110px;
	border:3px solid #e5e5e5;
	border-radius:50%;
}
.countdown .cd-name {
	display:block;
	color:#888;
	font-size:13px;
	padding-top:5px;
}
.countdown-small .cd {
	margin:0 2px;
}
.countdown-small .cd-num {
	font-size:25px;
	width:45px;
	height:45px;
	line-height:45px;
	border-width:2px;
}
.countdown-small .cd-name {
	font-size:11px;
}
.countdown-dark .cd-num {
	color:#fff;
	border-color:#333;
	background-color:#151515;
	background:-moz-radial-gradient(center,ellipse cover,rgba(0,0,0,.75) 0,#000 100%);
	background:-webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,.75) 0,#000 100%);
	background:-o-radial-gradient(center,ellipse cover,rgba(0,0,0,.75) 0,#000 100%);
	background:-ms-radial-gradient(center,ellipse cover,rgba(0,0,0,.75) 0,#000 100%);
	background:radial-gradient(center,ellipse cover,rgba(0,0,0,.75) 0,#000 100%);
}
.countdown-light .cd-num {
	color:#333;
	border-color:#d5d5d5;
	background-color:#e5e5e5;
	background:-moz-radial-gradient(center,ellipse cover,rgba(251,251,251,.75) 0,#ddd 100%);
	background:-webkit-radial-gradient(center,ellipse cover,rgba(251,251,251,.75) 0,#ddd 100%);
	background:-o-radial-gradient(center,ellipse cover,rgba(251,251,251,.75) 0,#ddd 100%);
	background:-ms-radial-gradient(center,ellipse cover,rgba(251,251,251,.75) 0,#ddd 100%);
	background:radial-gradient(center,ellipse cover,rgba(251,251,251,.75) 0,#ddd 100%);
}
/*.content-full .countdown{font-size:100px;}*/.dropdown {
	position:relative;
	overflow:visible;
}
.dropdown-menu,.dropdown-html {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	min-width:180px;
	max-width:280px;
	text-align:left;
	margin:0;
	z-index:100;
	background:#fff;
	border:1px solid #bbb;
	box-shadow:0 4px 12px rgba(0,0,0,.175);
	background-clip:padding-box;
}
.dropdown-html {
	padding:10px;
	line-height:1;
}
.dropdown-menu {
	list-style:none;
	padding:5px 0;
}
.dropdown-menu.pull-right,.dropdown-html.pull-right {
	right:0;
	left:auto;
}
.dropdown-menu .divider {
	height:1px;
	margin:9px 1px;
	overflow:hidden;
	background-color:#e5e5e5;
	border-bottom:1px solid #fff;
}
.dropdown-menu > li {
	padding:0;
	margin:0;
	display:block;
	float:none;
	list-style:none;
	border:0;
}
.dropdown-menu > li > a {
	display:block;
	padding:4px 15px;
	color:#333;
	font-weight:400;
	line-height:1.4em;
	text-decoration:none;
	clear:both;
	white-space:nowrap;
}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus,.dropdown-menu > .active > a {
	background-color:#3786DC;
	color:#fff;
	text-decoration:none;
	outline:0;
}
.dropdown-menu > .disabled > a,.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus {
	color:#999;
}
.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus {
	text-decoration:none;
	cursor:default;
	background-color:transparent;
	background-image:none;
}
.dropdown.open > .dropdown-menu,.dropdown.open > .dropdown-html {
	display:block;
}
.dropdown-html .form {
	margin-bottom:10px;
}
.dropdown-html .form:last-child {
	margin-bottom:0;
}
.b-share:after {
	content:" ";
	visibility:hidden;
	display:block;
	height:0;
	clear:both;
	zoom:1;
}
.b-share a {
	float:left;
	padding:0;
	margin:0;
	width:24px;
	height:24px;
	text-decoration:none;
	text-indent:-9999px;
	border-radius:2px;
	margin-left:4px;
	background-image:url("http://netdo.ru/static/js/share/share_large.png");
	background-repeat:no-repeat;
}
.b-share.small a {
	width:18px;
	height:18px;
	background-image:url("http://netdo.ru/static/js/share/share_small.png");
}
.b-share a:first-child {
	margin-left:0;
}
.b-share a.vk {
	background-position:0 -58px;
	background-color:#48729e;
}
.b-share a.fb {
	background-position:0 0;
	background-color:#3c5a98;
}
.b-share a.tw {
	background-position:0 -87px;
	background-color:#00aced;
}
.b-share a.ok {
	background-position:0 -116px;
	background-color:#ff9f4d;
}
.b-share a.mr {
	background-position:0 -29px;
	background-color:#226eb7;
}
